<!DOCTYPE html>
<html>
    <head>
        <title>
            {% if title %}
            Class Management - {{title}}
            {% else %}
            Class Management Work
            {% endif %}
        </title>
    </head>
    <body>
        <h1> The Classes Data</h1>
        <br><hr>
        <style>
              table, th, td {
    border: 1px solid black; /* adds border to table, headers, and cells */
  }
        </style>
        <table style="border-collapse:collapse; width:80%;">
            <thead>
                <tr>
                    {%block headers%}
                    {% endblock headers %}
                </tr>
            </thead>
            <tbody>
                {% block t_data %}
                {% endblock t_data%}

            </tbody>
        </table>
        

        
    </body>
</html>